[Desktop Entry]
Encoding=UTF-8
Name=Link to NumPy User Guide — NumPy v1.12 Manual
Type=Link
URL=https://docs.scipy.org/doc/numpy/user/index.html
Icon=text-html
